/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fin reset */

body.sombre {
    color: lightgray;
    background-color: rgb(20, 20, 20);
    a {
        color: aqua;
    }
    input, select {
        color: lightgray;
        background-color: rgb(30, 30, 30);
        border: rgb(40, 40, 40);
    }
    button {
        color: lightgray;
        background-color: rgb(30, 30, 30);
        border: 1px solid white;
    }
}

body.clair {
    color: black;
    background-color: white;
    a {
        color: blue;
    }
    input, select {
        color: black;
        background-color: rgb(240, 240, 240);
        border: rgb(230, 230, 230);
    }
    button {
        color: black;
        background-color: rgb(240, 240, 240);
        border: 1px solid black;
    }
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

sup {
    vertical-align: super;
    font-size: smaller;
    line-height: normal;
}

body {
    box-sizing: border-box;
    padding: 4px;
}

button {
    border-radius: 5px 7px;
}

input, select {
    border-radius: 7px 5px;
}

#zone_theme {
    display: flex;
    align-items: center;
    gap: 5px;
    box-sizing: border-box;
    padding: 5px;
}

#theme_conteneur {
    width: 50px;
    height: 19px;
    background-color: gray;
    border-radius: 10px;
    position: relative;
}

#theme_joystick {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 2px;
    display: none;
    background-color: lightgray;
    border-radius: 50%;
    transition: left 0.3s ease;
}