body.clair, body.sombre select, body.sombre input {
    color: black;
    background-color: white;

    a, a:link, a:visited, a:focus, a:hover, a:active {
        color: blue;
    }
}

body.sombre select, body.sombre input {
    background-color: rgb(235, 235, 235);
    border: none;
    border-radius: 15% 5%;
}


body.sombre, body.sombre select, body.sombre input {
    color: rgb(220, 220, 220);
    background-color: rgb(20, 20, 20);

    a, a:link, a:visited, a:focus, a:hover, a:active {
        color: rgb(0, 200, 200);
    }
}

body.sombre select, body.sombre input {
    background-color: rgb(40, 40, 40);
    border: none;
    border-radius: 15% 5%;
}