body.clair #resume {
    position: sticky;
    top: 0;
}

body.sombre #resume {
    box-sizing: border-box;
    position: sticky;
    top: 0;
}

#resume {
    background-color: inherit;
    td {
        border: 1px solid gray;
    }
}

#container {
    background-color: inherit;
    box-sizing: border-box;
    width: 100%;
}

#plateau td {
    width: auto;
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    box-sizing: border-box;
    padding: 4px;
}

input, select {
    width: 100%;
    height: 40px;
    font-size: 150%;
}

td, input, select {
    text-align: center;
}